.logo-box {
	display: flex;
	align-items: center;

	&__logo {
		width: 3.5rem;
		height: 3.6rem;
		fill: $color-red;
		margin-right: 1rem;
	}

	&__text {
		font-size: 2rem;
		line-height: 2.4rem;
		font-weight: 400;
		color: $color-black;
	}
}
