body {
	font-family: 'Rubik', sans-serif;
	line-height: 3rem;
	font-size: $default-font-size-regular;
	font-weight: 400;
}

.heading-primary {
	font-size: 5rem;
	line-height: 7rem;
	font-weight: 500;
	color: $color-black;
}

.heading-secondary {
	font-size: 3.5rem;
	line-height: 5rem;
	font-weight: 500;
	color: $color-black;
}

.paragraph {
	color: $color-grey-dark;
	margin: 4rem 0;
}
