.header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	&__link {
		color: $color-grey-dark;
		text-decoration: none;
		margin-right: 4rem;

		&--black {
			font-weight: 500;
			color: $color-black;
		}
	}
}
