.header {
	display: flex;
	justify-content: space-between;

	&__link {
		color: $color-grey-dark;
		text-decoration: none;
		margin-right: 4rem;

		&--black {
			font-weight: 500;
			color: $color-black;
		}
	}

	&__nav {
		display: flex;
		align-items: center;
	}
}
